.card{
    width:100%;
    height: 100%;
    display: flex;
}
.column {
  flex: 50%;
  width:0;
  height:100%;
  flex: 1 1 auto;
}
.list{
  overflow-y: scroll;
  height:150px;
}
.right_button{
  float:right;
}
button{
  margin:5px;
}