<div class="card">
    <div class="column">
      <div mat-subheader>Bank clients</div>
      <mat-divider></mat-divider>
      <mat-list class="list">
        <mat-list-item *ngFor="let client of data.clientList">
          <div mat-line>{{client.fio}}
            <button mat-flat-button color="primary" class="right_button" (click)="removeClient(client)">
                -
            </button>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <div mat-subheader>All clients</div>
      <mat-divider></mat-divider>
      <mat-list class="list">
        <mat-list-item *ngFor="let client of allClients">
          <div mat-line>{{client.fio}}
            <button mat-flat-button color="primary" class="right_button" (click)="addClient(client)">
                +
            </button>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
    </div>
    <div class="column">
      <div mat-subheader>Bank credits</div>
      <mat-divider></mat-divider>
      <mat-list class="list">
        <mat-list-item *ngFor="let credit of data.creditList">
          <div mat-line> 
            {{credit.creditLimit}}({{credit.creditPercent}}%)
            <button mat-flat-button color="primary" class="right_button" (click)="removeCredit(credit)">
                -
            </button>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <div mat-subheader>All credits</div>
      <mat-divider></mat-divider>
      <mat-list class="list">
        <mat-list-item *ngFor="let credit of allCredits"> 
          <div mat-line>
            {{credit.creditLimit}}({{credit.creditPercent}}%)
            <button mat-flat-button color="primary" class="right_button" (click)="addCredit(credit)">
                +
            </button>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
    </div>
</div>
<div>
  <button mat-flat-button color="primary" (click)="save()">
    Ok
  </button>
  <button mat-flat-button color="primary" (click)="close()">
    Cancel
  </button>
</div>