<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Bank" #bank>
      <app-bank-browse [active]="bank.isActive"></app-bank-browse>
    </mat-tab>
    <mat-tab label="Client" #client>
      <app-client-browse [active]="client.isActive"></app-client-browse>
    </mat-tab>
    <mat-tab label="Credit" #credit>
      <app-credit-browse [active]="credit.isActive"></app-credit-browse>
    </mat-tab>
    <mat-tab label="Credit Offer" #offer>
      <app-credit-offer-browse [active]="offer.isActive"></app-credit-offer-browse>
    </mat-tab>
  </mat-tab-group>