<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Bank" #bank>
      <app-bank-browse [active]="bank.isActive"></app-bank-browse>
    </mat-tab>
    <mat-tab label="Client" #client>
      <app-client-browse [active]="client.isActive"></app-client-browse>
    </mat-tab>
    <mat-tab label="Credit">
      <app-credit-browse></app-credit-browse>
    </mat-tab>
    <mat-tab label="Credit Offer">
      <app-credit-offer-browse></app-credit-offer-browse>
    </mat-tab>
    <mat-tab label="Credit Arrangement">
      <app-credit-arrangement></app-credit-arrangement>
    </mat-tab>
  </mat-tab-group>