<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="example-form" id="clientFormId">
    <mat-card-content>
      <mat-form-field [formGroup]="clientForm">
        <input matInput required placeholder="Full name" formControlName="fio" />
      </mat-form-field>
      <mat-form-field [formGroup]="clientForm">
        <input matInput required placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field [formGroup]="clientForm">
        <input matInput required placeholder="Passport Number" formControlName="passportNumber" />
      </mat-form-field>
    </mat-card-content>
  
    <button [disabled]="clientForm.invalid" mat-flat-button color="primary" class="btn-block" type="submit">
      Ok
    </button>
    <button mat-flat-button color="primary" class="btn-block" (click)="close()" style="margin:5px;">
      Cancel
    </button>
</form>
  