<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="example-form" id="clientFormId">
  <mat-card-content>
    <mat-form-field [formGroup]="clientForm" class="margin_5px">
      <input matInput required placeholder="Full name" formControlName="fio" />
    </mat-form-field>
    <mat-form-field [formGroup]="clientForm" class="margin_5px">
      <input matInput required placeholder="Telephone number" formControlName="telephone" />
    </mat-form-field>
    <mat-form-field [formGroup]="clientForm" class="margin_5px">
      <input matInput required placeholder="Email" formControlName="email" />
    </mat-form-field>
    <mat-form-field [formGroup]="clientForm" class="margin_5px">
      <input matInput required placeholder="Passport number" formControlName="passportNumber" />
    </mat-form-field>
  </mat-card-content>
  <div>
    <button [disabled]="clientForm.invalid" mat-flat-button color="primary" class="margin_5px" type="submit">
      Ok
    </button>
    <button mat-flat-button color="primary" class="margin_5px" (click)="close()">
      Cancel
    </button>
  </div>
</form>
  